<head>
    <title>企業一覧画面</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
     <div class="form-inline mb-3" style="display: flex; justify-content: space-between; justify-content: space-between; background-color: #b3e2ff;">
        <h1>企業一覧</h1>
        <div class="header_btn">
                <button type="button" class="btn btn-primary btn-{themecolor} rounded-pill">新規登録</button>
            </div>
    </div>
    <!-- 検索フォーム -->
        <div class="form-inline mb-3">
            <form class="form-inline mb-3">
                <div class="form-group mr-2">
                    <label for="exampleInputPassword1" class="form-label">企業名</label>
                    <input type="password" class="form-control mr-2" id="exampleInputPassword1">
                </div>
                <div class="form-group mr-2">
                <label class="pulldown-label">業種</label>
                    <select class="form-control mr-2">
                        <option>ー<option>
                        <option>林業</option>
                        <option>製造業</option>
                        <option>運輸業</option>
                        <option>建設業</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">検索</button>
            </form>
        </div>
    <div class="card">
        <table class="table table-striped">
            <thead class="table-primary">
                <tr>
                    <th>#</th>
                    <th scope="col">企業名</th>
                    <th scope="col">業種</th>
                    <th scope="col">操作</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>〇〇林業</td>
                    <td>林業</td>
                    <td>
                    <button type="button" class="btn btn-outline-primary">ホームへ</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">削除</button>
                    <td><button type="button" class="btn btn-outline-primary btn-{themecolor} rounded-pill">アンケート画面へ</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>〇〇タクシー</td>
                    <td>運輸業</td>
                    <td>
                    <button type="button" class="btn btn-outline-primary">ホームへ</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">削除</button>
                    </td>
                    <td><button type="button" class="btn btn-outline-primary btn-{themecolor} rounded-pill">アンケート画面へ</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>〇〇株式会社</td>
                    <td>製造業</td>
                    <td>
                    <button type="button" class="btn btn-outline-primary">ホームへ</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">削除</button>
                    </td>
                    <td><button type="button" class="btn btn-outline-primary btn-{themecolor} rounded-pill">アンケート画面へ</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>〇〇建設</td>
                    <td>建設業</td>
                    <td>
                    <button type="button" class="btn btn-outline-primary">ホームへ</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">削除</button>
                    </td>
                    <td><button type="button" class="btn btn-outline-primary btn-{themecolor} rounded-pill">アンケート画面へ</button></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>〇〇林業</td>
                    <td>林業</td>
                    <td>
                    <button type="button" class="btn btn-outline-primary">ホームへ</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">削除</button>
                    </td>
                    <td><button type="button" class="btn btn-outline-primary btn-{themecolor} rounded-pill">アンケート画面へ</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>〇〇タクシー</td>
                    <td>運輸業</td>
                    <td>
                    <button type="button" class="btn btn-outline-primary">ホームへ</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">削除</button>
                    </td>
                    <td><button type="button" class="btn btn-outline-primary btn-{themecolor} rounded-pill">アンケート画面へ</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>〇〇株式会社</td>
                    <td>製造業</td>
                    <td>
                    <button type="button" class="btn btn-outline-primary">ホームへ</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">削除</button>
                    </td>
                    <td><button type="button" class="btn btn-outline-primary btn-{themecolor} rounded-pill">アンケート画面へ</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>〇〇建設</td>
                    <td>建設業</td>
                    <td>
                    <button type="button" class="btn btn-outline-primary">ホームへ</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">削除</button>
                    </td>
                    <td><button type="button" class="btn btn-outline-primary btn-{themecolor} rounded-pill">アンケート画面へ</button></td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>〇〇林業</td>
                    <td>林業</td>
                    <td>
                    <button type="button" class="btn btn-outline-primary">ホームへ</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">削除</button>
                    </td>
                    <td><button type="button" class="btn btn-outline-primary btn-{themecolor} rounded-pill">アンケート画面へ</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>〇〇タクシー</td>
                    <td>運輸業</td>
                    <td>
                    <button type="button" class="btn btn-outline-primary">ホームへ</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">削除</button>
                    </td>
                    <td><button type="button" class="btn btn-outline-primary btn-{themecolor} rounded-pill">アンケート画面へ</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>〇〇株式会社</td>
                    <td>製造業</td>
                    <td>
                    <button type="button" class="btn btn-outline-primary">ホームへ</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">削除</button>
                    </td>
                    <td><button type="button" class="btn btn-outline-primary btn-{themecolor} rounded-pill">アンケート画面へ</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>〇〇建設</td>
                    <td>建設業</td>
                    <td>
                    <button type="button" class="btn btn-outline-primary">ホームへ</button>
                    <button type="button" class="btn btn-primary">詳細</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">削除</button>
                    </td>
                    <td><button type="button" class="btn btn-outline-primary btn-{themecolor} rounded-pill">アンケート画面へ</button></td>
                </tr>

            </tbody>
        </table>

        <!-- モーダルの設定 -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">
                        <p>削除しますか？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                        <button type="button" class="btn btn-primary">キャンセル</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>







