<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="main-body">
        <div class="k-card card text-center border-primary m-5 mx-auto">
        <h5 class="card-header border-primary">
            アンケートのご協力ありがとうございました。
        </h5>
        <p class="card-text m-5">
            皆様からいただきましたご意見につきましては、<br>
            弊社のサービス「しあえる」に活かしていきたいと考えております。<br>
            貴重なご意見をお寄せいただき、誠にありがとうございました。
        </p>
    </div>
</div>
</body>