<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="main-body">
        <div class="k-card card text-center border-primary m-5 mx-auto">
        <h5 class="card-header border-primary">
            アンケートのご協力ありがとうございました。
        </h5>
        <p class="card-text m-5">
            入力いただいた内容を分析し、結果を後日皆様にお返しいたします。<br>
            またデータにつきましては、皆様の健康や働き方の改善に役立てるために使用いたします。
        </p>
    </div>
</div>
</body>